.none {
  display: none;
}
.content-container {
  border: 1px solid gray;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.div-capture {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.captured-image {
  border: 1px solid black;
}

.div-edit {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.edit-button,
.delete-button {
  margin: 0 5px;
  background: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.div-capture:hover .div-edit {
  display: flex;
}

.cross-rectangle:hover .cross-button {
  display: block; /* Ensure the button is shown on hover */
}

.cross-button {
  display: none; /* Initially hide the button */
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border: none;
  cursor: pointer;
  padding: 2px 5px;
}
